section{
    background-image: url("../../assets/materials/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.75);
}