section {
    background-image: url("../../assets/materials/worldmap.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.65);
}

textarea {
    resize: none;
}

iframe {
    border-radius: 10px;
}
