.catlog_container{
    border:2px solid rgb(118, 80, 255);
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
    justify-content: center;
    text-align: center;
    min-height: 60vh;
    grid-auto-rows: minmax(auto, 50%);
}

.catlog_item{
    border:2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}